{% extends 'userena/base_userena.html' %}
{% load i18n %}
{% load bootstrap3 %}


{% load url from future %}

{% block title %}{% trans "Change password" %}{% endblock %}

{% block userena_content_title %}<h2>{% blocktrans with user.username as username %}Account &raquo; {{ username }}{% endblocktrans %}</h2>{% endblock %}

{% block userena_content %}
<form action="" method="post" id="password_change_form">
    {% csrf_token %}
    <fieldset>
      <legend>Change password</legend>
      {% bootstrap_form form %}
    </fieldset>
	{% buttons %}
        <button type="submit" class="btn btn-primary"> change password </button>
    {% endbuttons %}
</form>
{% endblock %}
