{% extends 'userena/base_userena.html' %}
{% load i18n %}
{% load url from future %}
{% load bootstrap3 %}

{% block title %}{% trans "Account setup" %}{% endblock %}

{% block userena_content_title %}<h2>{% blocktrans with profile.user.username as username %}Account &raquo; {{ username }}{% endblocktrans %}</h2>{% endblock %}

{% block userena_content %}

<form action="" enctype="multipart/form-data" method="post">
  {% csrf_token %}
  <fieldset>
    <legend>edit profile</legend>
    {% bootstrap_form form %}
  </fieldset>

	{% buttons %}
	    <button type="submit" class="btn btn-primary"> submit changes </button>
    {% endbuttons %}
</form>
{% endblock %}
